<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snake</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="/assets/favicon.png">
</head>
<body>
  <div id="app">
    <h1>Snake</h1>
    <div v-cloak>
      <h3>Score: {{score}}; Max score: {{maxScore}}</h3>
      <div class="field">
        <div class="rows" v-for="x of fieldLen">
          <div :class="{
          'odd-cell': !(x + y) % 2,
          'even-cell': (x + y) % 2,
          'snake-cell': isSnake(x, y),
          'food-cell': isFood(x, y)
          }"
               class="cell" v-for="y of fieldLen"></div>
        </div>
        <div v-if="!gameStarted" class="start-game"><button @click="start">Start</button></div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script type="module" src="app.js"></script>
</body>
</html>