html {
  background-color: #c9e7c9;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 0;
  color: #003200;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-family: fantasy;
  color: darkgreen;
}

.rows {
  display: flex;
}

.field {
  position: relative;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: lightgrey;
}

.even-cell {
  background-color: #cecece;
}

.snake-cell {
  background-color: darkblue;
}

.food-cell {
  background-image: url(/assets/raspberry.png);
  background-size: cover;
}

.start-game {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(50, 50, 50, 0.5);
}

.start-game button {
  padding: 15px 28px;
  border: none;
  font-size: 2em;
  border-radius: 15px;
  box-shadow: 0 0 8px 0 darkgrey;
}

[v-cloak] {
  display: none;
}